.vue-app {
    display: relative;
}

.v-application--wrap,
.theme--light.v-application {
    // to make the render area transparent
    background: transparent !important;
}

html {
    overflow-y: hidden;
}

.v-main {
    // otherwise fires too much when scaling 
    transition: none 0s ease 0s !important;
}

.v-progress-linear__determinate,
.v-progress-linear__buffer,
.v-progress-linear__background {
    transition: none 0s ease 0s !important;
}