
%center {
    margin: auto;
    max-width: 700px;
}

body {
    margin: 0;
    padding: 0;
   // background: #fffff0;
    width: 100%;
}
.footer {
    background: #111138;
    opacity: 0.1;
    margin-top: 40px;
    bottom: 0;
    div {
        @extend %center;
        padding: 15px 5px;
        color: #aaa;
        font-family: get("f.menu");
        a, a:visited {
            color: #aaa;
        }
    }
}

.load_assets {
    display: block !important;
}

h1 {
    z-index:-1;
}
