

$themeColor-b1: rgba(255, 255, 255, 0.95);
$themeColor-b2: rgb(231, 231, 231);
$themeColor-b3: rgb(136, 136, 136);
$themeColor-b4: #36724f;

$themeColor-f1: #000000;

$themeColor-c1: #83d822;
$themeColor-c2: #ffae00;
$themeColor-c3: #2c9b67;

$theme-font1:    12px Verdana, sans-serif;
$theme-font2:    17px Verdana, sans-serif;
